---
import "../styles/global.css";
import Navigation from "../components/Navegation.astro";
const myTitle = "Mi Blog de Astro 🚀";
---

<html lang="en">
  <Navigation />
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{myTitle}</title>
  </head>
  <body>
    <a href="/">Incio</a>
    <h1>{myTitle}</h1>

    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
        accusamus recusandae laudantium pariatur distinctio quo explicabo
        repudiandae iusto. Facere accusamus pariatur repellendus. Voluptas vero
        amet iure laborum beatae magnam ipsam?
      </p>

      <ul>
        <li><a href="/posts/post-1">Publicaciones</a></li>
        <li><a href="/posts/post-2">Publicaciones</a></li>
        <li><a href="/posts/post-3">Publicaciones</a></li>
        
      </ul>
    </div>
   
  </body>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }

    h1 {
      color: #e41313;
    }

    p {
      color: #6307e3;
      line-height: 1.5;
    }
  </style>
</html>
