---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

import "../styles/global.css";



const pageTitle = "Mi Blog de Astro - Home";
const allPosts = await getCollection("posts");
---

<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  
  </head>
  <body>
  

    <BaseLayout pageTitle={pageTitle}>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
        accusamus recusandae laudantium pariatur distinctio quo explicabo
        repudiandae iusto. Facere accusamus pariatur repellendus. Voluptas vero
        amet iure laborum beatae magnam ipsam?
      </p>

      <ul>
        {allPosts.map((post) => (
          <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
        ))}
        
      </ul>
    </BaseLayout>
   
  </body>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }

    h1 {
      color: #e41313;
    }

    p {
      color: #6307e3;
      line-height: 1.5;
    }
  </style>
</html>
